{% extends 'admissions/base_generic.html' %}

{% block content %}
<div class="announcement-edit-container">
    <h2 class="announcement-edit-title">Edit Announcement</h2>
    <form method="post" class="announcement-edit-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="{{ announcement.title }}" required class="form-control">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea id="content" name="content" required class="form-control">{{ announcement.content }}</textarea>
        </div>
        <button type="submit" class="btn-primary">Save Changes</button>
    </form>
</div>

<style>
    .announcement-edit-container {
        max-width: 600px;
        min-height: 71vh;
        margin: 40px auto;
        padding: 20px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .announcement-edit-title {
        background-color: rgba(255, 255, 255, 0.2);
        font-weight: lighter;
        color: #333;
        padding: 10px 20px;
        border-radius: 10px 10px 0 0;
        text-align: center;
        margin: -20px -20px 20px -20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #606060;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.3);
        color: #333;
    }

    #title.form-control {
        width: 100%;
    }

    #content.form-control {
        height: 150px;
    }

    .btn-primary {
        width: 30%;
        padding: 10px;
        border-radius: 5px;
        background-color: #6b9976;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-primary:hover {
        background-color: #5b8b66; 
    }

    
    @media (max-width: 600px) {
        .announcement-edit-container {
            max-width: 100%; 
            padding: 15px;
        }

        .announcement-edit-title {
            font-size: 1.2em;
            padding: 10px;
            margin: -15px -15px 15px -15px; 
            width: calc(100% + 30px); 
        }

        .form-group .form-control {
            width: 100%;
        }

        .btn-primary {
            width: 60%;
            padding: 10px;
            font-size: 1em;
        }
    }
</style>
{% endblock %}
